body {
	background-color:rgb(229,227,223);
	margin: 0;
	padding: 0;
	font-family: sans-serif;
		display: inline-block;
}

div#footer {
	border-top: 2px solid #666;
	padding:30px;
	color:#666;

}

div#header p{
	display: inline-block;
}

p.title{
	font-size: 200%;
	font-weight:bold;
}

div#header {

	padding:30px;
	background-image: url("library.jpg");
	border-bottom: 2px solid orange;
	color:white;
}


